.footer-sec{
    margin-top: 135px;
    .widget-container{
        padding-bottom: 25px;
        @media(min-width:768px){
            padding-bottom: 0;
        }
        img{
            width: 188px;
            display: flex;
            margin: 0 auto;
            @media(min-width:768px){
                display: block;
                margin: 0;
                width: 150px;
            }
            @media(min-width:992px){
                width: 188px;
            }
        }
        ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
            .text{
                text-align: center;
                margin: 0;
                padding: 0;
                color: #7f8283;
                font-family: $secondary-font;
                font-weight: 400;
                @include font-size(0.9rem);
                padding-top: 29px;
                @media(min-width:768px){
                    text-align: left;
                }
            }
            li{
                text-align: center;
                @include font-size(0.9rem);
                margin-bottom: 2px;
                @media(min-width:768px){
                    text-align: left; 
                }
                 a{
                    font-family: $secondary-font;
                    color:#7f8283;
                    font-weight: 400;
                    text-decoration: none;
                    text-transform: capitalize;
                    transition: color 0.3s ease-in-out;
                    &:hover{
                        color: #000; 
                    }
                 }
               
            }
            .widget-content{
                padding-top: 12px;
                ul{
                    margin: 0;
                    padding: 0;
                    justify-content: center;
                    gap: 6px;
                    padding-bottom: 12px;
                        @media(min-width:768px){
                            justify-content:flex-start;
                        }
                    li{
                        a{
                            height: 30px;
                            width: 30px;
                            position: relative;
                            display: inline-block;
                            border-radius: 100%;
                            transition: all 0.3s ease-in-out;
                            &:hover{
                                background-color: #000 !important; 
                            }
                            svg{
                                height: 15px;
                                width: 15px;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                        &:first-child{
                            a{
                                background-color: #3c5b9b;
                                fill: #fff;
                                
                            }
                        }
                        &:nth-child(2){
                            a{
                                background-color: #27a9e1;
                                fill: #fff;
                            }
                        }
                        &:nth-child(3){
                            a{
                                background-color: #bc2a8d;
                                fill: #fff;
                            }
                        }
                        &:last-child{
                            a{
                                background-color: #0173b2;
                                fill: #fff;
                            }
                        }
                        // &:nth-child(5){
                        //     a{
                        //         background-color: #f73e29;
                        //         fill: #fff;
                        //     }
                        // }
                        // &:last-child{
                        //     a{
                        //         background-color: #c60911;
                        //         fill: #fff;
                        //     }
                        // }
                    }
                }
            }
        }
    }  
    .widget-heading{
        font-family: $secondary-font;
        font-weight: 600;
        @include font-size(1.2rem);
        color: #7f8283;
        text-align: center;
        @media(min-width:768px){
            text-align: left;
        }
    }
    .textwidget{
        text-align: center;
        @media(min-width:768px){
            text-align: left;
        }
        p{
            font-family: $secondary-font;
            color:#7f8283;
            font-weight: 400;
            @include font-size(0.9rem);
            padding: 0;
            margin: 0;
            margin-bottom: 2px;
            a{
                font-family: $secondary-font;
                color:#7f8283;
                font-weight: 400;
                text-decoration: none;
                @include font-size(0.9rem);
                transition: all 0.4s ease-in-out;
                &:hover{
                    color: #000; 
                    text-decoration: underline;
                }
            }
        }
    }
    .line-btn{
        margin-top: 20px;
        margin-bottom: 23px;
        .line{
            border: 1px solid $primary-color;
            font-weight: 400;
            font-family: $primary-font;
            float: left;
            width: 100%;
        }
    }
    .copy-right{
        .copyright-text{
            text-align: center;
            font-family: $secondary-font;
            color:#2d2f54;
            font-weight: 400;
            margin: 0;
            @include font-size(1rem);
            padding: 7px 0;
            a{
                text-decoration: none;
                font-family: $secondary-font;
                color:#2d2f54;
                font-weight: 400;
                @include font-size(1rem);
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}