// hero section
.dmm-hero-section{
    .tns-outer {
        position: relative;
        .tns-nav {
            display: none;
            justify-content: center;
            position: absolute;
            bottom: 26px;
            left: 0;
            width: 100%;
            z-index: 3;
            @media (min-width: 768px) {
                display: flex;
            }
            button {
                padding: 7px;
                border: none;
                background-color: change-color($color: $primary-color, $alpha: 0.5);
                border-radius: 50%;
                box-shadow: none;
                margin-left: 20px;
                &:first-child {
                    margin-left: 0;
                }
                &.tns-nav-active {
                    background-color: $primary-color;
                }
            }
        }
    }
    .slides{
        .slide{
            background-size: cover;
            background-position: right center;
            @media (min-width: 768px){
                background-position: top center;
            }
            .slide-main{
                min-height: 60vh;
                background-size: cover;
                padding-bottom: 37px;
                .hero-text{
                    // width: 64%;
                    margin-top: 50px;
                    background-color: #fff;
                    // // margin-left: 100px;
                    padding-left: 50px;
                    padding-top: 61px;
                    // @media (min-width: 1200px){
                    //     width: 37%;
                    //     margin-left: 182px;
                    //     margin-top: 80px;
                    // }
                    .hero-heading{
                        font-family: $primary-font;
                        font-weight: 500;
                        @include font-size(3rem);
                        color: #292f90;
                        span{
                            color: #0094df;
                        }
                    }
                    .hero-heading-text{
                        color: #7f8283;
                        font-family: $primary-font;
                        font-weight: 400;
                        @include font-size(1.1rem);
                        padding: 0;
                    }
                    .hero-btn-container{
                        margin-top: 44px;
                        padding-bottom: 50px;
                        .hero-btn{
                            text-decoration: none;
                            text-align: center;
                            color: #fff;
                            background-color: $secondary-color;
                            @include font-size(1.1rem);
                             @include padding-top(1.2rem);
                            @include padding-right(2.3rem);
                            @include padding-bottom(1.2rem);
                            @include padding-left(2.3rem);
                            // padding: 25px 45px;
                            display: inline-block;
                            font-family: $secondary-font;
                            font-weight: 400;
                            border:1px solid $secondary-color;
                            transition: all 0.3s ease-in-out;
                            &:hover{
                                background-color: transparent;
                                color: $secondary-color;
                            }
                        }
                    }
                }
            }      
        }   
    }
}

// Smart Integrated Facilities Management start
.smart-integrated-section{
    margin-top: 50px;
    margin-bottom: 80px;
    .smart-integrated-heading{
        font-family: $primary-font;
        font-weight: 700;
        color: $primary-color;
        @include font-size(2rem);
        text-transform: uppercase;
        padding-bottom: 18px;
        margin-top: 52px;
    }
    .smart-integrated-text{
        font-family: $secondary-font;
        font-weight: 400;
        @include font-size(0.9rem);
        color: #848586;
        margin: 0;
        line-height: 1.7;
    }
    .smart-integrated-btn-container{
        margin-top: 30px;
        .smart-integrated-btn{
            text-decoration: none;
            text-align: center;
            color: #fff;
            background-color: $secondary-color;
            @include font-size(1.1rem);
            padding: 8px 60px;
            display: inline-block;
            font-family: $secondary-font;
            font-weight: 400;
            border:1px solid $secondary-color;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: transparent;
                color: $secondary-color;
            }
        }
    }
    .smart-img{
        width: 100%;
    }
}

// our-service-section start
.our-service-section{
    margin-bottom: 80px;
    position: relative;
    .our-service-section-heading{
        text-align: center;
        font-family: $secondary-font;
        font-weight: 600;
        @include font-size(1.3rem);
        color: #373d96;
        text-decoration: underline;
        text-decoration-color: $secondary-color;
        text-underline-offset: 0.2em;
        @media (min-width:768px) {
            text-align: left;
        }
    }
    .service-offer-heading{
        padding-top: 10px;
        font-family: $primary-font;
        font-weight: 700;
        @include font-size(1.7rem);
        color: #354f5c;
        text-transform: capitalize;
        text-align: center;
        @media (min-width:768px) {
            text-align: left;
        }
    }
    .our-service-text{
        font-family: $secondary-font;
        font-weight: 400;
        @include font-size(0.9rem);
        color: #7f8283;
        margin: 0;
        text-align: center;
        @media (min-width:768px) {
            text-align: left;
        }
    }
    .our-service-section-btn-container{
        text-align: center;
        margin-top: 15px;
            @media (min-width:768px) {
                text-align: left;
                margin-top: 0;
            }
        .our-service-section-btn{
            text-decoration: none;
            text-align: center;
            color: #fff;
            background-color: $secondary-color;
            @include padding-top(0.7rem);
            @include padding-right(2.3rem);
            @include padding-bottom(0.7rem);
            @include padding-left(2.3rem);
            @include font-size(0.8rem);
            display: inline-block;
            font-family: $secondary-font;
            font-weight: 400;
            border:1px solid $secondary-color;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: transparent;
                color: $secondary-color;
            }
        }
    }
    .image-section {
        .overlay{
            position: relative;
            width: 100%;
            height: 317px;
            .top{
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                text-align: center;
                width: 70%;
                transition:all .6s ease-in-out;
                .h1{
                    font-family: $secondary-font;
                    font-weight: 600;
                    color: #ffffff;
                    @include font-size(1.5rem);
                    text-decoration: underline;
                    line-height: 1.3;
                }
            }
            .bottom{
                opacity: 0;
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                text-align: center;
                width: 70%;
                transition:all .6s ease-in-out;
                p{
                    font-family: $secondary-font;
                    font-weight: 300;
                    color: #ffffff;
                    @include font-size(0.9rem);
                }
                .btn-default{
                    background: 0 0;
                    color: #fff;
                    border: 2px solid #fff;
                }
            }
            &:hover .top {
                opacity: 0;
            }
            &:hover .bottom {
                opacity: 1;
                // transform: translate(-50%,-50%);
            }
        }
        .overlay.shadow-box{
            background-size: cover;
            height: 317px;
            overflow: hidden;
            padding: 0;
            border-radius: 85px;
            border: 3px solid $secondary-color;
            margin-top: 15px;
        }
    }
}

// dmm-key-strength-section start
.dmm-key-strength-section{
    .coloum-image{
        @media (min-width:992px) {
        background-image: url(../images/key-strength-bg.jpg);
        background-position: bottom;
        background-size: 478px 438px;
        background-position-y: center;
        background-position-x: left;
        background-repeat: no-repeat;
        }
        .key-strength-heading{
            color: $primary-color;
            font-weight: 700;
            font-family: $primary-font;
            @include font-size(2.3rem);
            margin-top: 0;
            @media (min-width:992px){
                margin-top: 500px;
            }
        }
        .slide{
            .carousel-inner{
                .carousel-item{
                    .key-strength-second-heading{
                        font-family: $primary-font;
                        font-weight: 500;
                        color: #31b1d8;
                        @include font-size(1.7rem);
                        margin-top: 10px;
                        margin-bottom: 10px;
                        text-transform: uppercase;
                    }
                    .key-strength-text{
                        font-family: $secondary-font;
                        font-weight: 400;
                        @include font-size(1rem);
                        margin: 0;
                        padding: 0;
                        color: #7f8283;
                    }
                }
            }
        }
    }
    .image-container{
        // display: flex;
        img{
            width: 65%;
            @media (min-width:992px){
              width: 100%;  
            }
            margin: 0 auto;
            display: flex;
        }
    }
    .carousel-indicators{
        top:102%;
        button{
            background-color: #000;
        }
    }
    .carousel-indicators [data-bs-target]{
        height: 2px;
    }
}

// case studies section start
.case-studies-section{
    margin-top: 50px;
    margin-bottom: 80px;
    
    .tns-outer {
        position: relative;
        .tns-nav {
            display: none;
            justify-content: center;
            position: absolute;
            bottom: -39px;
            left: 0;
            width: 100%;
            z-index: 3;
            @media (min-width: 768px) {
                display: flex;
            }
            button {
                padding: 5px;
                border: none;
                background-color: change-color($color: $primary-color, $alpha: 0.5);
                border-radius: 50%;
                box-shadow: none;
                margin-left: 18px;
                &:first-child {
                    margin-left: 0;
                }
                &.tns-nav-active {
                    background-color: $primary-color;
                }
            }
        }
    }
    .case-studies-heading{
        font-family: $primary-font;
        font-weight: 700;
        color: $primary-color;
        @include font-size(1.9rem);
        text-align: center;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 9px;
        margin-bottom: 23px;
        &::before {
        content: "";
        display: block;
        width: 114px;
        height: 5px;
        background: $primary-color;
        left: 50%;
        bottom: 0;
        position: absolute;
        transform: translateX(-50%);
       
      }
    }
    
    .case-studies-heading-text{
        font-family: $secondary-font;
        font-weight: 700;
        color: #7f8283;
        @include font-size(0.9rem);
        text-align: center;
        margin: 0;
        padding: 0;
        padding-bottom: 30px;
    }
    .case-studies-heading-text.hide{
        display: none;
    }
    .case-studies-heading-text.active{
        display: block;
    }
    .slider-container{
        .slides{
            .slide{
                .image-container{
                    .case-studies-img{
                        box-shadow: 1px 1px 9px 1px #7f8283d1;
                        width: 100%;
                    }
                }
            }
        }
    }
}

// icon section
.icon-section{
    background-image: url(../images/icon-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .icon-heading{
        padding-top: 73px;
        text-align: center;
        font-family: $secondary-font;
        font-weight:400;
        @include font-size(1.7rem);
        color: #ffffff;
        text-transform: capitalize;
        span{
            font-family: $primary-font;
            font-weight: 700;
            color: $secondary-color;
            @include font-size(2.4rem);
            text-transform: uppercase;
        }
    }
    .column-icon{
        padding: 10px 0 20px 0;
        @media (min-width:768px){
            padding: 55px 0 100px 0;
        }
        .icon-img{
            width:50%;
            display: block;
            margin: 0 auto;
            @media (min-width:768px){
                width: 61%;
            }
        }   
    }
}

// Testimonals section                                                                                                                                 
.testimonials-section{
    margin-top: 90px;
    margin-bottom: 80px;
    position: relative;
    .testimonial-text-main{
        background-color: $primary-color;
        border-radius: 20px;
        padding: 25px 40px;
        position: absolute;
        left: 12%;
        bottom: -10%;
        display: none;
        overflow: hidden;
        @media (min-width: 992px) {
            display: block;
        }
        .quote-img{
            padding-bottom: 13px;
        }
        .testimonial-text{ 
            color: #fff;
            font-family: $secondary-font;
            font-weight: 300;
            @include font-size(1.3rem);
           text-align: center;
           span{
            color: #fff;
            font-family: $secondary-font;
            font-weight: 100;
            @include font-size(0.9rem);
            text-align: right;
           }
        }
        .testimonial-author-text{
            color: #fff;
            font-family: $secondary-font;
            font-weight: 100;
            @include font-size(0.9rem);
            text-align: right;
            margin: 0;
           
        }
    }
    .testimonial-box-sec{
        margin-bottom: 50px;
        .testimonial-box{
            .slides{
                .slide{
                    background-color: $primary-color;
                    border-radius: 20px;
                    padding: 25px 40px;
                    margin-top: 45px;
                    .testimonial-text{
                        color: #fff;
                        font-family: $secondary-font;
                        font-weight: 300;
                        @include font-size(1.3rem);
                        text-align: center;
                       span{
                        color: #fff;
                        font-family: $secondary-font;
                        font-weight: 100;
                        @include font-size(0.9rem);
                        text-align: right;
                       } 
        
                    }
                }
            }
        }
        @media (min-width: 992px){
            display: none;
        }
    }
    .tns-outer {
        position: relative;
        .tns-nav {
            display: none;
            justify-content: center;
            position: absolute;
            bottom: -28px; 
            left: 0;
            width: 100%;
            z-index: 3;
            @media (min-width: 768px) {
                display: flex;
            }
            @media (min-width: 992px){
                bottom: -100px;   
            }
            button {
                padding: 5px;
                border: none;
                background-color: change-color($color: $secondary-color, $alpha: 0.5);
                border-radius: 50%;
                box-shadow: none;
                margin-left: 15px;
                &:first-child {
                    margin-left: 0;
                }
                &.tns-nav-active {
                    background-color: $secondary-color;
                }
            }
        }
    }
    .t-head{
        @media (min-width: 992px){
            padding-top: 10%;
        }
        .testimonial-heading-text{
            font-family: $primary-font;
            font-weight: 500;
            @include font-size(2.5rem);
            background-image: linear-gradient(135deg, #1a1d4e 0%,#1a1d4e 31%,#1a1d4e 40%,#155b8d 64%,#0eb3e7 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-transform: uppercase;
            line-height: 1.4;
        }
        .hero-btn-container{
            margin-top: 45px;
            .hero-btn{
                text-decoration: none;
                text-align: center;
                color: #939ab1;
                background: linear-gradient(135deg, #1a1d4e 0%,#1a1d4e 31%,#1a1d4e 40%,#155b8d 64%,#0eb3e7 100%);
                @include font-size(0.9rem);
                padding: 8px 40px;
                display: inline-block;
                font-family: $secondary-font;
                font-weight: 500;
                border-radius: 37px;
                &:hover{
                    animation: pulse 1s infinite;
                    transition: .3s;
                }
            }  
        }
        @keyframes pulse {
            0% {
              transform: scale(1);
            }
            70% {
              transform: scale(.9);
            }
              100% {
              transform: scale(1);
            }
          }
    }
    
}

// blog section
.blog-section{
    margin-top: 8px;
      margin-bottom: 80px;
    @media (min-width: 992px) {
        margin-top: 200px;
    }
    .blog-heading-container{
        text-align: center;
        width: 100%;
        .blog-heading{
            text-align: center;
            color: $primary-color;
            font-family: $primary-font;
            @include font-size(1.3rem);
            font-weight: 500;
            background-color: #a3daff;
            padding: 21px 35px;
            display: inline-block;
            border-radius: 50px;
            line-height: 0;
        }
    }
    .blog-heading-text{
        font-family: $primary-font;
        font-weight: 700;
        @include font-size(1.8rem);
        text-align: center;
        color: $primary-color;
    }
    .blog-text{
        text-decoration: none;
        margin-bottom: 31px;
        @media (min-width:768px) {
            margin-bottom: 0;
            
        }
        .card{
            border: none;
            box-shadow: 0px 1px 14px 6px #e5e5e5;
            .img-container{
                overflow: hidden;
                position: relative;
                .card-img-top{
                    transition: transform .4s ease-in-out;
                }
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -75%;
                    z-index: 2;
                    display: block; 
                    width: 50%;
                    height: 100%;
                    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
                    transform: skewX(-25deg);
                    transition: none;
                }
                &:hover{
                    .card-img-top{
                        transform: scale(1.2);
                    }
                    &::before{
                        transition: left 0.4s ease-in;
                        left: 100%;
                    }    
                }
            }
            
            .card-body{
                padding: 10px 30px 20px 30px ;
                .card-date{
                    text-align: left;
                    font-family: $secondary-font;
                    font-weight: 400;
                     @include font-size(0.9rem); 
                    color: $primary-color;
                    margin: 0;
                }
                .card-heading-text{
                    text-align: left;
                    font-family: $primary-font;
                    font-weight: 500;
                    @include font-size(1.6rem);
                    color: $primary-color;
                    margin: 0;
                    padding-bottom: 5px;
                    }
                .card-text{
                    text-align: left;
                    font-family: $secondary-font;
                    font-weight: 300;
                    @include font-size(1.1rem); 
                    color: #6b6b6e;
                    margin: 0;
                    margin-bottom: 10px;
                    line-height: 20px;
                }
                .readmore-btn{
                    text-decoration: none;
                    color: $primary-color;
                    @include font-size(1rem);
                    font-weight: 500;
                    font-family: $secondary-font;
                    display: inline-flex;
                    align-items: center;
                    column-gap: 5px;
                    svg{
                        height: 15px;
                        width: 15px;
                        fill: $primary-color;
                        transition: transform 0.2s ease-in-out;
                        margin-top: 4px;
                    }
                    &:hover{
                        svg{
                            transform: translateX(5px);
                        }
                    }
                }
            }
        }
    }
    .blog-btn-container{
        text-align: center;
        width: 100%;
        margin-top: 44px;
        .blog-btn{
            text-decoration: none;
            text-align: center;
            color: #ffffff;
            background-color: $secondary-color;
            @include font-size(0.9rem);
            padding: 10px 55px;
            display: inline-block;
            font-family: $secondary-font;
            font-weight: 400;
            border:1px solid $secondary-color;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: transparent;
                color: $secondary-color;
            }
        }
    } 
}

// bg-image section
.dmm-provide-better-image{
    .background-image-section{
        // background-size: cover;
        // background-position: top left;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        img{
            display: flex;
            margin: 0 auto;
        }
    }
}

// provide-better-section
.provide-better-section{
    position: relative; 
    .background-review-section{
        background-color: $primary-color;
        position:absolute;
        width: 100%;
        height: 100%;
        @media(min-width: 776px){
            height: 77%;
        }
    } 
    .main-div{
        z-index: 9999;
        position: relative;
        padding-top: 15px;
        padding-bottom: 20px;
        .provide-better-heading{
            font-family: $primary-font;
            font-weight: 700;
            color: #ffffff;
            @include font-size(1.9rem);
            text-align: center;
            @media (min-width:768px) {
                text-align: left;
            }
        }
        .provide-better-heading-text{
            text-align: center;
            font-family: $primary-font;
            font-weight: 400;
            color: #e6e8fc;
            @include font-size(0.9rem);
        }
    }  
    .slider-container {
        position: relative;
        // padding: 0;
        // @media (min-width:768px) {
        //     padding: 2rem 5rem;
        // }
        .tns-outer{
            .tns-controls{
                    position: absolute;
                    z-index: 3;
                    transform: translate(-50% ,-50%);
                    top: 50%;
                    width: 109%;
                    display: flex;
                    justify-content: space-between;
                    left: 50%;
                button{
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    box-shadow: none;
                    outline: none;
                    position: relative;
                    border: none;
                    background: #515378;
                    color: #fff;
                    display: none;
                    @media (min-width:992px) {
                        display: block;   
                    }
                    svg{
                        fill: $primary-color;
                        height: 20px;
                        width: 20px;
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }  
                }
            }
        
        }
        .slides{
            .slide{
                .better-main{
                    .image-container{
                        width: 100%;
                        overflow: hidden;
                      .provide-better-img{
                          width: 100%;
                      }
                    }
                }
            }
        }
    }
}

// contact us section start
.contact-us-section{
    padding-top: 32px;
    padding-bottom:25px;
    margin-bottom: 80px;
    background-image: url(../images/contact-us-bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    @media (min-width:768px){
        padding-top: 143px;  
    }
    .coloum-text{
        text-align: center;
        @media (min-width:768px) {
            text-align: left;
        }
    }
    .coloum{
        padding-left: 10px;
        @media (min-width:992px) {
            padding-left: 60px; 
        }
        .contact-card{
            @media (min-width:992px){
              margin-top: 122px;  
            }
            
            form{
                input{
                    width: 100%;
                    @include padding-right(1.2rem);
                    @include padding-left(1.2rem);
                    @include padding-top(0.9rem);
                    @include padding-bottom(0.9rem);
                    border-radius: 15px;
                    border: 1px solid #b0dffa;
                    color: #15173f;
                    outline: none;
                    background-color: #b0dffa;
                    @include font-size(1rem);
                    &::placeholder{
                        color: #15173f;
                        font-family: $secondary-font;
                        font-weight: 400;
                    }
                }
                textarea{
                    width: 100%;
                    @include padding-right(1.2rem);
                    @include padding-left(1.2rem);
                    @include padding-top(0.9rem);
                    border-radius: 15px;
                    border: 1px solid #b0dffa;
                    background-color: #b0dffa;
                    @include font-size(1rem);
                    outline: none;
                    &::placeholder{
                        color: #15173f;
                        font-family: $secondary-font;
                        font-weight: 400;
                    }
                }
                .btn-container{
                    margin-top: 25px;
                    text-align: center;
                    .btn-submit{
                        text-decoration: none;
                        text-align: center;
                        color: #fff;
                        background-color: #0eabde;
                        @include font-size(1rem);
                        padding: 7px 111px;
                        display: inline-block;
                        font-family: $secondary-font;
                        font-weight: 400;
                        border:1px solid #0eabde;
                        text-transform: uppercase;
                        transition: all 0.3s ease-in-out;
                        &:hover{
                            background-color: transparent;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .contact-us-text{
        color: #ffffff;
        font-family: $secondary-font;
        font-weight: 400;
        @include font-size(1rem);
        text-transform: uppercase;
    }
    .contact-us-heading-text{
        color: #ffffff;
        font-weight: 700;
        font-family: $primary-font;
        @include font-size(2.3rem);
        // padding-bottom: 37px;
    }
    .aquarius-img{
        width: 39%;
        padding-bottom: 37px;
    }
    .c-text{
        color: #c9c9cb;
        @include font-size(0.8rem);
        font-weight: 400;
        font-family: $secondary-font;
        margin: 0;
    }
    .c-icon-box{
        height: 80px;
        width: 80px;
        background-color: #b0dffa;
        position: relative;
        display: inline-block;
        border-radius: 100%;
      svg{
            height: 50px;
            width: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $primary-color;
        }  
    }
    .c-icon-box-text{
        padding-left:0;
        @media (min-width:992px) {
            padding-left: 18px;
        }
        @media (min-width:1200px) {
            padding-left: 0;
        }
        .business{
         font-family: $secondary-font;
         font-weight: 600;
         color: #0eb3e7;
         @include font-size(1.4rem);
         margin: 0;
        }
        .email-add{
            font-family: $secondary-font;
            font-weight: 400;
            color: #ffffff;
            @include font-size(0.9rem);
            margin: 0;
            a{
                text-decoration: none;
                font-family: $secondary-font;
                font-weight: 400;
                color: #ffffff;
                transition: all 0.4s ease-in-out;
                @include font-size(0.9rem);
                &:hover{
                    opacity: 0.6;
                    text-decoration: underline;
                }
            }
        }
        .phone-no{
            font-family: $secondary-font;
            font-weight: 400;
            color: #ffffff;
            @include font-size(0.9rem);
            margin: 0;
            a{
                text-decoration: none;
                font-family: $secondary-font;
                font-weight: 400;
                color: #ffffff;
                transition: all 0.4s ease-in-out;
                @include font-size(0.9rem);
                &:hover{
                    opacity: 0.6;
                    text-decoration: underline;
                }
            }
        }
        .dmm-address{
            font-family: $secondary-font;
            font-weight: 400;
            color: #ffffff;
            @include font-size(0.9rem);
            margin: 0;
        }
    }
}